{% extends "layout.html" %}

{% block body %}

<div class="container-fluid">
  <br>
  <a class="" href="/">
    <div class="btn btn-primary">Upload New Resumes</div>
  </a>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <table class="table table-bordered table-sm table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Name, Email</th>
            <th>External Links</th>
            <th>Educations</th>
            <th>Experiences</th>
            <th class="w-25">Skills</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for resume in resumes %}
            <tr>
              <td>
                <div>{{ resume['name'] }}</div>
                <div><a href="mailto:{{ resume['email'] }}">{{ resume['email'] }}</a></div>
                <div><a href="tel:{{ resume['phone'] }}">{{ resume['phone'] }}</a></div>
              </td>
              <td>
                {% if resume['github_url'] %}
                  <div><a target="_blank" href="https://{{ resume['github_url'] }}">{{ resume['github_url'] }}</a></div>
                {% endif %}
                {% if resume['linkedin_url'] %}
                  <div><a target="_blank" href="https://{{ resume['linkedin_url'] }}">{{ resume['linkedin_url'] }}</a></div>
                {% endif %}
              </td>
              <td>
                {% for education, details in resume['educations'].items() %}
                  {{ education }}
                    {% for detail in details %}
                      <li>{{ detail }}</li>
                    {% endfor %}
                {% endfor %}
              </td>
              <td>
                <ul>
                {% for experience in resume['experiences'] %}
                  <li>{{ experience }}</li>
                {% endfor %}
                </ul>
              </td>
              <td>
                {% for skill in resume['skills'] %}
                  {% if skill.lower() in keywords %}
                    <span class="badge badge-danger">{{ skill }}</span>
                  {% else %}
                    <span class="badge badge-info">{{ skill }}</span>
                  {% endif %}
                {% endfor %}
              </td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
